body {
  margin: 30px 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(225, 244, 255);
  text-align: center;
  align-items: center;
  background-image: url("../public/img/earth.jpg");
  background-repeat: no-repeat;
  background-size: cover;


}

