.card {
  align-items: center;
  text-align: center;
  width: 650px;
  margin: 30px auto;
}

.card img {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 10px;
  align-items: center;
  text-align: center;
}

p, .list-group-item, .card-body div {
  color: black;
}

h2 {
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: white
}